<div style="margin-top: 20px;">
    <h2 style="text-align: center; margin-top: 20px; font-size: 30px; color: darkcyan;">Products CRUD Operation</h2>
    <a class="addProduct" routerLink = '/product'>+ Add Product</a>
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <table>
                <tr>
                    <th>ID</th>        
                    <th>Name</th>
                    <th>Color</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor = "let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.color}}</td>
                    <td (click) = "deleteProduct(product.id)"><a class="deleteBtn">DELETE</a></td>
<<<<<<< HEAD
                    <td [routerLink] = "['/updateProduct', product.id]"><a class="updateBtn">UPDATE</a></td>
=======
                    <td [routerLink] = "['/updateProduct', product.id]"><a>UPDATE</a></td>
>>>>>>> Inital Commit
                </tr>
            </table>
        </div>        
    </div>    
</div>
