<div class="container">
    <div style="padding: 30px;" class="row">
        <div class="col-sm-10 mx-auto">
            
            <h2 style="text-align: center; color: darkcyan; font-size: 30px;">Update Product</h2>
            <p *ngIf = "!exist" style="color: red;">Product Doesn't Exist</p>
            
            <form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "updateProduct(productData.value)">
<<<<<<< HEAD
                <label>Name: </label><input type = "text"  id="name" placeholder="name" [(ngModel)] = "data.name" ngModel><br>
                <label>Color: </label><input type = "text" id="color" placeholder="color" [(ngModel)] = "data.color" ngModel><br>
                <input type="submit" value = "Update Product">
              </form>
=======
                <label>Name: </label><input type = "text" name="name" placeholder="name" autocomplete="off" [(ngModel)] = "data.name"><br>
                <label>Color: </label><input type = "text" name="color" placeholder="color" autocomplete="off" [(ngModel)] = "data.color"><br>
                <input class="submit" type="submit" value = "Update Product">
            </form>
>>>>>>> Inital Commit
            
        </div>
    </div>
</div>
