
<div class="container" style="padding-top: 20px;" >
    <p style=" font-size: 30px; color: darkcyan; text-align: center;">Tutorial Guide For Employee</p>
    <div class="row">
        <div class="col-sm-6">
            <app-create></app-create>
        </div>
        <div class="col-sm-6">
            <app-read></app-read>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <app-employee-form></app-employee-form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-employee></app-employee>
        </div>
        <div class="col-sm-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
