
<div class="row" style="margin-top: 100px;">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="Mobile"> Mobile Number:</label>
                <div class="col-sm-8">
                    <input type="text" [ngModel]="value" (ngModelChange)="onChange($event)" numbersOnly/>
                    <br/>
                    <p>Change fire counter : {{counter}}</p>
                </div>
            </div>
        </form>
    </div>
</div>
