<div style="margin-top: 30px;">
    
    <input type="text" placeholder="name" #name>
    <input type="text" placeholder="url" #url>

    <button (click)="addTutorial(name.value,url.value)">Add a Tutorial</button>

    <app-number-valid></app-number-valid>
</div>