<div style="margin-top: 30px; margin-left: 30px;" *ngIf="tutorials">

    <h3>Tutorials</h3>
    <ul>
      <li (click)="delTutorial(i)" *ngFor="let tutorial of tutorials | async; let i = index">
        <a [href]="tutorial.url" target="_blank">{{ tutorial.name }}</a>
      </li>
    </ul>
  
  </div>
