/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}


input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

th, td{
    border: 1px solid #000;
    padding: 10px 25px;
}

a:not([href]):not([tabindex]){
    color:blue
}
a:not([href]):not([tabindex]):hover{
    color:blue
}

.addProduct{
    font-size: 18px;
    text-align: right;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.deleteBtn, .updateBtn{    
    cursor: pointer;
}

.deleteBtn:hover, .updateBtn:hover{
    cursor: pointer;
}
